{% extends 'base.html.twig' %}

{% block title %}Appros{% endblock %}

{% block body %}
    <h1>Appros</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ appro.id }}</td>
            </tr>
            <tr>
                <th>Quantite</th>
                <td>{{ appro.quantite }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ appro.prix }}</td>
            </tr>
            <tr>
                <th>DateAppros</th>
                <td>{{ appro.dateAppros ? appro.dateAppros|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_appros_index') }}">back to list</a>

    <a href="{{ path('app_appros_edit', {'id': appro.id}) }}">edit</a>

    {{ include('appros/_delete_form.html.twig') }}
{% endblock %}
