{% extends 'base.html.twig' %}

{% block title %}Ventes{% endblock %}

{% block body %}
    <h1>Ventes</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ vente.id }}</td>
            </tr>
            <tr>
                <th>Quantite</th>
                <td>{{ vente.quantite }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ vente.prix }}</td>
            </tr>
            <tr>
                <th>DateVente</th>
                <td>{{ vente.dateVente ? vente.dateVente|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <button class="btn btn-primary mb-2 "><a class="text-white" href="{{ path('app_ventes_index') }}">La liste des ventes</a></button>

   <button class="btn btn-info mb-2 "> <a class="text-white" href="{{ path('app_ventes_edit', {'id': vente.id}) }}">Modifier</a></button>

    {{ include('ventes/_delete_form.html.twig') }}
{% endblock %}
